[submodule "cosmic-plugin-hypervisor-xenserver"]
        path = cosmic-plugin-hypervisor-xenserver
        url = git@github.com:MissionCriticalCloud/cosmic-plugin-hypervisor-xenserver.git
        branch = master
[submodule "cosmic-plugin-user-authenticator-ldap"]
	path = cosmic-plugin-user-authenticator-ldap
	url = git@github.com:MissionCriticalCloud/cosmic-plugin-user-authenticator-ldap.git
        branch = master
[submodule "cosmic-plugin-user-authenticator-sha256salted"]
	path = cosmic-plugin-user-authenticator-sha256salted
	url = git@github.com:MissionCriticalCloud/cosmic-plugin-user-authenticator-sha256salted.git
        branch = master
